html {
    height: 100%;
}


body {
    background-color: #2F3035;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

.panel {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.338);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(0, 0, 0, 0.728);
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.devices {
    padding-left: 730px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: rgb(198, 198, 198);
}

.box1 {
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    width: auto;
    margin-left: 100px;
}

.box2 {
    height: 100px;
    width: 250px;
    background-color: #4392F1;
    align-items: center;
    margin-left: 50px;
}

.box3 {
    border-radius: 10px;
    margin-top: 10px;
    height: 80px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1F2421;
    align-items: center;
}

h3 {
    padding-left: 65px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 30px;
}

.flex-container {
    border-radius: 10px;
    display: flex;
    background-color: #4392F1;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.generate {
    margin-left: 55px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.imgbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
