{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main/styles/index-style.css' %}">
    {% block styles %}{% endblock styles %}
</head>

<body>

    <div class="container">

        <header>
            <h1>Iot Home Automation</h1>
        </header>

        <nav class="panel">
            <a href="/index/">HOME</a>
            <a href="/control/">CONTROL PAGE</a>
            <a href="/report"> REPORT </a>
            <a href="/login/">LOGOUT</a>
        </nav>
        {% block mainbody %}{% endblock mainbody %}
    </div>
</body>

</html>